body {
	background-color: #F3EBDD;
	font-weight: bold;
	/*color: #F3EBDD;*/
	/*font-family: arial;*/
	margin: auto;
}

.notification {
	background: #F3EBDD;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.correct {
	color: #265C00;
}

.incorrect {
	color: #CB0000;
}

.content_box {

	width: 90%;
	height: 50%;
	text-align: center;
	margin: 0 auto;
	border: 2px dashed #1A1A1A;
	justify-content: center;
}

.question {
	margin-top: 50%;
	font-size: 80%;
}

.card_view {
	font-family: Arial, Helvetica, sans-serif;
	background: #F3EBDD;
	text-align: center;
	/* Center horizontally*/
	margin: 0 auto;
}

.centered {
	text-align: center;
	margin: 0 auto;
}

.form_field {
	color: #2A2922;
	font-weight: bold;
	background: #F1F1F2;
	padding: 5px;
	width: 250px;
	margin-top: 5px;
	text-align: center;
	margin: 0 auto;
}

.button {
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
}

.button_logout {
	color: #F3EBDD;
	background: #2A2922;
	font-size: small;
	margin-right: 0px;
	display: block;
	margin-left: auto;
}

.half_size_btn_normal {
	color: #F3EBDD;
	background: #2A2922;
	width: 45%;
}

.half_size_btn_selected {
	color: #2A2922;
	background: #FFBB00;
	width: 45%;
}

.button_normal {
	color: #F3EBDD;
	background: #2A2922;
	width: 90%;
}

.button_selected {
	color: #2A2922;
	background: #FFBB00;
	width: 90%;
}

.button_submit {
	color: #F3EBDD;
	background: #1E434C;
	padding: 5px;
	width: 90%;
	margin-top: 25px;
	margin-bottom: 25px
}

.button_right {
	color: #2A2922;
	background: #265C00;
	padding: 5px;
	
}

.button_wrong {
	color: #2A2922;
	background: #CB0000;
	padding: 5px;
	width: 90%;
}




/* Style off the internet */
.button-28 {
	appearance: none;
	background-color: transparent;
	border: 2px solid #1A1A1A;
	border-radius: 15px;
	box-sizing: border-box;
	color: #3B3B3B;
	cursor: pointer;
	display: inline-block;
	font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-size: 16px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 16px 24px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 100%;
	will-change: transform;
  }
  
  .button-28:disabled {
	pointer-events: none;
  }
  
  .button-28:hover {
	color: #fff;
	background-color: #1A1A1A;
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
  }
  
  .button-28:active {
	box-shadow: none;
	transform: translateY(0);
  }
